<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About
                <small>SightReader</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="../image/12961655_10207264663469642_2415303523343112610_n.jpg">
        </div>
        <div class="col-md-6">
            <h2>About SightReader</h2>

            <p>This web application was built by <a href="www.jeremypepino.com/">Jeremy Pepino</a> as
                part of an Educational Technology semester-long assignment. Jeremy is studying at the
                Georgia Institute of Technology, pursuing a M.S. in Computer Science through the
                <a href="https://omscs.gatech.edu">OMSCS</a> program.</p> Jeremy is currently working
                on a DoD contract full-time during the days, and completing the majority of his classwork
                during the evenings.

            <p>Jeremy would like to acknowledge the following entities, through which the completion of
                SightReader was made possible:</p>
            <ul>
                <li><b><a href="http://www.vexflow.com/">VexFlow API</a></b>: A completely open-source
                JavaScript API for rendering musical notation. All of the graphics you see on this website
                were rendered using VexFlow.</li>
                <li><b><a href="https://github.com/charneykaye/angularjs-tutorial-1">Nick Kaye's Angular Tutorial</a></b>:
                The page layout, design, and navigation were built on top of Nick Kaye's Angular tutorial and
                template.</li>
                <li><b><a href="https://freesound.org/people/jobro/packs/2489/">Piano FF</a></b>:
                The audio effects which can be heard in the game interface were downloaded from FreeSound, which
                were made available by a user called jobro. Thanks jobro!</li>
            </ul>
        </div>

    </div>

</div>
<!-- /.container -->
