<script type="text/javascript">
    // Basic setup boilerplate for using VexFlow with the SVG rendering context:
    VF = Vex.Flow;

    // Create an SVG renderer and attach it to the DIV element named "boo".
    var div = document.getElementById("boo")
    var renderer = new VF.Renderer(div, VF.Renderer.Backends.SVG);

    // Configure the rendering context.
    renderer.resize(1000, 500);
    renderer.ctx.setViewBox(0, 0, 450, 250);
    var context = renderer.getContext();

    // A tickContext is required to draw anything that would be placed
    // in relation to time/rhythm, including StaveNote which we use here.
    // In real music, this allows VexFlow to align notes from multiple
    // voices with different rhythms horizontally. Here, it doesn't do much
    // for us, since we'll be animating the horizontal placement of notes,
    // but we still need to add our notes to a tickContext so that they get
    // an x value and can be rendered.
    //
    // If we create a voice, it will automatically apply a tickContext to our
    // notes, and space them relative to each other based on their duration &
    // the space available. We definitely do not want that here! So, instead
    // of creating a voice, we handle that part of the drawing manually.
    var tickContext = new VF.TickContext();

    // Create a stave of width 10000 at position 10, 40 on the canvas.
    var stave = new VF.Stave(0, 0, 10000)
        .addClef('treble');

    // Connect it to the rendering context and draw!
    stave.setContext(context).draw();

    var durations = ['1'];

    var notes = [
        ['c', '', '4'],
        ['d', '', '4'],
        ['e', '', '4'],
        ['f', '', '4'],
        ['g', '', '4'],
        ['a', '', '4'],
        ['b', '', '4'],
        ['c', '', '5']
    ].map(([letter, acc, octave]) => {
        const note = new VF.StaveNote({
            clef: 'treble',
            keys: [`${letter}${acc}/${octave}`],
            duration: durations[Math.floor(Math.random() * durations.length)],
        })
            .setContext(context)
            .setStave(stave);

        // If a StaveNote has an accidental, we must render it manually.
        // This is so that you get full control over whether to render
        // an accidental depending on the musical context. Here, if we
        // have one, we want to render it. (Theoretically, we might
        // add logic to render a natural sign if we had the same letter
        // name previously with an accidental. Or, perhaps every twelfth
        // note or so we might render a natural sign randomly, just to be
        // sure our user who's learning to read accidentals learns
        // what the natural symbol means.)
        if (acc) note.addAccidental(0, new VF.Accidental(acc));
        tickContext.addTickable(note)
        return note;
    });

    // The tickContext.preFormat() call assigns x-values (and other
    // formatting values) to notes. It must be called after we've
    // created the notes and added them to the tickContext. Or, it
    // can be called each time a note is added, if the number of
    // notes needed is not known at the time of bootstrapping.
    //
    // To see what happens if you put it in the wrong place, try moving
    // this line up to where the TickContext is initialized, and check
    // out the error message you get.
    //
    // tickContext.setX() establishes the left-most x position for all
    // of the 'tickables' (notes, etc...) in a context.
    tickContext.preFormat().setX(400);

    // This will contain any notes that are currently visible on the staff,
    // before they've either been answered correctly, or plumetted off
    // the staff when a user fails to answer them correctly in time.
    // TODO: Add sound effects.
    const visibleNoteGroups = [];
    const visibleNotes = [];

    var score = 0;

    // Add a random note to the staff from the notes array
    function addRandomNote() {
        var randVal = Math.floor(Math.random() * notes.length);
        note = notes[randVal];
        visibleNotes.push(randVal);
        if (!note) return;
        const group = context.openGroup();
        visibleNoteGroups.push(group);
        note.draw();
        context.closeGroup();
        group.classList.add('scroll');
        const box = group.getBoundingClientRect();
        group.classList.add('scrolling');
        window.setTimeout(() => {
            const index = visibleNoteGroups.indexOf(group);
            if (index === -1) return;
            group.classList.add('too-slow');
            visibleNoteGroups.shift();
            visibleNotes.shift();
            updateScore(-10);
        }, 5000);
    }

    function addNote(noteVal) {
        note = notes[noteVal];
        visibleNotes.push(noteVal);
        if (!note) return;
        const group = context.openGroup();
        visibleNoteGroups.push(group);
        note.draw();
        context.closeGroup();
        group.classList.add('scroll');
        const box = group.getBoundingClientRect();
        group.classList.add('scrolling');
        window.setTimeout(() => {
            const index = visibleNoteGroups.indexOf(group);
            if (index === -1) return;
            group.classList.add('too-slow');
            visibleNoteGroups.shift();
            visibleNotes.shift();
            updateScore(-10);
        }, 5000);
    }

    var timer;
    var timer2;
    var startTime;
    var speed = 1000;

    function startGame() {
        updateScore(-(score));
        document.getElementById("time").innerHTML = "0:00";
        startTime = new Date();
        timer2 = setInterval(updateTime, 1000);
        toggleButtonsGameActive();
        if(document.getElementById("song_random_notes").checked){
            timer = setInterval(addRandomNote, speed);
        }
        else{
            var noteArray = createNoteArray();
            playSong(noteArray, noteArray.length);
        }
    }

    function stopGame() {
        while(visibleNoteGroups.length != 0){
            group = visibleNoteGroups.shift();
            group.classList.add('too-slow');
        }
        while(visibleNotes.length != 0){
            visibleNotes.shift();
        }
        if(document.getElementById("song_random_notes").checked){
            clearInterval(timer);
        }
        else{
            clearTimeout(timer);
        }
        clearInterval(timer2);
        toggleButtonsGameInactive();

        alert("Your final score was: " + score);
    }

    function createNoteArray() {
        if(document.getElementById("song_mary_had").checked){
            return [2, 1, 0, 1, 2, 2, 2, 1, 1, 1, 2, 4, 4, 2, 1, 0, 1, 2, 2, 2, 1, 1, 2, 1, 0];
        }
        else if(document.getElementById("song_muffin_man").checked){
            return [0, 3, 3, 4, 5, 3, 3, 2, 1, 4, 4, 3, 2, 0, 0, 0, 3, 3, 4, 5, 3, 3, 3, 4, 4, 0, 0, 3];
        }
        else if(document.getElementById("song_twinkle_2x").checked){
            return [0, 0, 4, 4, 5, 5, 4, 3, 3, 2, 2, 1, 1, 0, 4, 4, 3, 3, 2, 2, 1, 4, 4, 3, 3, 2, 2, 1];
        }
        else{
            clearInterval(timer2);
            toggleButtonsGameInactive();
            alert("Please select a song from the Song Library!");
        }
    }

    function playSong(notes, i) {
        if (i < 0  && visibleNoteGroups.length==0){
            stopGame();
            return;
        }
        timer = setTimeout(function () {
            addNote(notes[notes.length - i]);
            playSong(notes, --i);
        }, speed);
    }

    function playSound(note) {
        if(note == "wrong"){
            var audioString = "wrong";
        }
        else{
            var audioString = "audio_" + note;
        }
        var audio = document.getElementById(audioString);
        audio.pause();
        audio.currentTime=0;
        audio.play();
    }

    function guessNote(guess) {
        if(guess == convert(visibleNotes[0])){
            playSound(visibleNotes[0]);
            group = visibleNoteGroups.shift();
            group.classList.add('correct');
            const transformMatrix = window.getComputedStyle(group).transform;
            const x = transformMatrix.split(',')[4].trim();
            group.style.transform = `translate(${x}px, -800px)`;
            updateScore(10);
        }
        else if(guess != visibleNotes[0]){
            playSound("wrong");
            group = visibleNoteGroups.shift();
            group.classList.add('too-slow');
            updateScore(-10);
        }
        visibleNotes.shift();
    }

    function updateScore(val) {
        score += val;
        if(score<0){
            document.getElementById("score_container").style.color = "red";
            document.getElementById("score").innerHTML = score;
        }
        else if(score>0) {
            document.getElementById("score_container").style.color = "green";
            document.getElementById("score").innerHTML = score;
        }
        else {
            document.getElementById("score_container").style.color = "black";
            document.getElementById("score").innerHTML = score;
        }
        
    }

    function updateTime() {
        var currentTime = new Date();
        var diff = currentTime - startTime;
        diff /= 1000;
        var seconds = Math.round(diff);

        var secs;
        var mins;

        secs = seconds % 60;
        seconds /= 60;
        mins = Math.floor(seconds % 60);

        if(secs < 10) {
            secs = "0" + secs;
        }

        document.getElementById("time").innerHTML = mins + ":" + secs;
    }

    function convert(val) {
        if(val==0 || val==7){
            return 'c';
        }
        if(val==1){
            return 'd';
        }
        if(val==2){
            return 'e';
        }
        if(val==3){
            return 'f';
        }
        if(val==4){
            return 'g';
        }
        if(val==5){
            return 'a';
        }
        if(val==6){
            return 'b';
        }
    }

    function toggleButtonsGameInactive() {
        document.getElementById('start').disabled = false;
        document.getElementById('stop').disabled = true;
        document.getElementById('button_c').disabled = true;
        document.getElementById('button_d').disabled = true;
        document.getElementById('button_e').disabled = true;
        document.getElementById('button_f').disabled = true;
        document.getElementById('button_g').disabled = true;
        document.getElementById('button_a').disabled = true;
        document.getElementById('button_b').disabled = true;
        document.getElementById('song_random_notes').disabled = false;
        document.getElementById('song_mary_had').disabled = false;
        document.getElementById('song_muffin_man').disabled = false;
        document.getElementById('song_twinkle_2x').disabled = false;

    }

    function toggleButtonsGameActive() {
        document.getElementById('start').disabled = true;
        document.getElementById('stop').disabled = false;
        document.getElementById('button_c').disabled = false;
        document.getElementById('button_d').disabled = false;
        document.getElementById('button_e').disabled = false;
        document.getElementById('button_f').disabled = false;
        document.getElementById('button_g').disabled = false;
        document.getElementById('button_a').disabled = false;
        document.getElementById('button_b').disabled = false;
        document.getElementById('song_random_notes').disabled = true;
        document.getElementById('song_mary_had').disabled = true;
        document.getElementById('song_muffin_man').disabled = true;
        document.getElementById('song_twinkle_2x').disabled = true;
    }

    function uncheckOthers(num) {
        if(num==1){
            document.getElementById("song_mary_had").checked = false;
            document.getElementById("song_muffin_man").checked = false;
            document.getElementById("song_twinkle_2x").checked = false;
        }
        if(num==2){
            document.getElementById("song_random_notes").checked = false;
            document.getElementById("song_muffin_man").checked = false;
            document.getElementById("song_twinkle_2x").checked = false;
        }
        if(num==3){
            document.getElementById("song_random_notes").checked = false;
            document.getElementById("song_mary_had").checked = false;
            document.getElementById("song_twinkle_2x").checked = false;
        }
        if(num==4){
            document.getElementById("song_random_notes").checked = false;
            document.getElementById("song_mary_had").checked = false;
            document.getElementById("song_muffin_man").checked = false;
        }
    }

    window.onunload = stopGame;

</script>

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>SightReader</h2>
                <p>Learn how to sight-read music and test your abilities!</p>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div id="labels">
            <div id="score_label">
                <p>Score</p>
            </div>
            <div id="time_label">
                <p>Time Elapsed</p>
            </div>
        </div>

        <div id="metrics">
            <div id="score_container">
                <p id="score">
                    <b>0</b>
                </p>
            </div>
        
            <div id="time_container">
                <p id="time">
                    <b>0:00</b>
                </p>
            </div>
        </div>

        <div class="row">
            <div id="game_container">
                <div id="boo"></div>
            </div>
            <div id="controls">
                <button id='start' onclick="startGame()">Start Game</button>
                <button id='stop' onclick="stopGame()" disabled>Stop Game</button>
                <button id='button_c' onclick="guessNote('c')" disabled>C</button>
                <button id='button_d' onclick="guessNote('d')" disabled>D</button>
                <button id='button_e' onclick="guessNote('e')" disabled>E</button>
                <button id='button_f' onclick="guessNote('f')" disabled>F</button>
                <button id='button_g' onclick="guessNote('g')" disabled>G</button>
                <button id='button_a' onclick="guessNote('a')" disabled>A</button>
                <button id='button_b' onclick="guessNote('b')" disabled>B</button>
            </div>

            <audio id="audio_0" src="../audio/39187__jobro__piano-ff-040.mp3"></audio>
            <audio id="audio_1" src="../audio/39189__jobro__piano-ff-042.mp3"></audio>
            <audio id="audio_2" src="../audio/39191__jobro__piano-ff-044.mp3"></audio>
            <audio id="audio_3" src="../audio/39193__jobro__piano-ff-045.mp3"></audio>
            <audio id="audio_4" src="../audio/39195__jobro__piano-ff-047.mp3"></audio>
            <audio id="audio_5" src="../audio/39197__jobro__piano-ff-049.mp3"></audio>
            <audio id="audio_6" src="../audio/39199__jobro__piano-ff-051.mp3"></audio>
            <audio id="audio_7" src="../audio/39200__jobro__piano-ff-052.mp3"></audio>
            <audio id="wrong" src="../audio/wrong_answer.mp3"></audio>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h4>Song Library</h4>
            <form>
                <input type="radio" onclick="uncheckOthers(1)" id="song_random_notes" checked="checked"><b>Random Notes (default)</b><br>
                <input type="radio" onclick="uncheckOthers(2)" id="song_mary_had">Mary Had a Little Lamb<br>
                <input type="radio" onclick="uncheckOthers(3)" id="song_muffin_man">The Muffin Man<br>
                <input type="radio" onclick="uncheckOthers(4)" id="song_twinkle_2x">Twinkle, Twinkle Little Star
            </form>
            <p>update 2045</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <a class="btn btn-lg btn-primary pull-right" href="#/tutorial1-1">Play Tutorial</a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->