<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>SightReader</h2>
                <p>Learn how to sight-read music and test your abilities!</p>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="https://i.imgur.com/8z8mACa.png">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>SightReader features include:</h2>
                <ul>
                    <li>Basic Notes Tutorial</li>
                    <li>Game Interface</li>
                    <li>Usable Design</li>
                    <li>Browser-rendered Graphics</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h4>Start learning how to read music now!</h4>
            <p>Progress through SightReader's tutorial sections and learn the basics of sight-reading music!</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <a class="btn btn-lg btn-primary pull-right" href="#/tutorial1-1">Begin Tutorial</a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
