<script type="text/javascript">

    VF = Vex.Flow;

    var div = document.getElementById("graphic")
    var renderer = new VF.Renderer(div, VF.Renderer.Backends.SVG);

    renderer.resize(680, 240);
    renderer.ctx.setViewBox(0, 0, 325, 120);
    var context = renderer.getContext();
    context.setFont("Arial", 10, "").setBackgroundFillStyle("#eed");

    var stave = new VF.Stave(10, 0, 320);
    stave.addClef("treble").addTimeSignature("4/4");

    stave.setContext(context).draw();

</script>

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">SightReader
                <small>Tutorial</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../tutorial.html">Tutorial</a>
                </li>
                <li class="active">Lesson 1: The Basics</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-8">

            <hr>
            <div id="graphic"></div>
            <hr>

            <p>First Five Notes</p>

            <p>A <b>staff</b>, in music, is a set of five horizontal lines and the four open spaces in between the
                lines. Each of these lines and open spaces represents a different musical <b>pitch</b>. In music,
                the pitch means how high or low the sound is. Pitches can be represented in notation by musical
                <b>notes</b>, which serve as the building blocks of written music.</bo></p>

            <p>Notes define two things in music: the pitch, which was mentioned before, and the <b>duration</b>.
                A musical note can be held out for varying lengths of time, which can be accounted for in musical
                notation. How to read duration will be covered in a later lesson.
            </p>

            <hr>

            <a class="btn btn-lg btn-primary pull-right" href="#/tutorial2-2">Next</a>


        </div>

        <div class="col-lg-4">
            <div class="well">
                <h4>Lesson 1: The Basics</h4>

                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#/tutorial1-1">1) Basic Terminology</a>
                            </li>
                            <li><a href="#/tutorial1-2">2) The Treble Clef</a>
                            </li>
                            <li><a href="#/tutorial1-3">3) Time Signature, Beats, and Measure</a>
                            </li>
                            <li><a href="#/tutorial1-4">4) First Five Notes</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /well -->
            <div class="well">
                <h4>Practice</h4>

                <p>Go practice what you just learned anytime by going into the game interface!</p>

                <a class="btn btn-lg btn-primary" href="#/game">Play Now</a>

            </div>
            <!-- /well -->
        </div>
    </div>

</div>
<!-- /.container -->