<script type="text/javascript">

    VF = Vex.Flow;

    var div = document.getElementById("graphic")
    var renderer = new VF.Renderer(div, VF.Renderer.Backends.SVG);

    renderer.resize(680, 240);
    renderer.ctx.setViewBox(0, 0, 500, 120);
    var context = renderer.getContext();
    context.setFont("Arial", 10, "").setBackgroundFillStyle("#eed");

    var stave = new VF.Stave(10, 0, 500);


    stave.addClef("treble").addTimeSignature("4/4");
    stave.setContext(context).draw();
    var notes = [
        new VF.StaveNote({clef: "treble", keys: ["g/4"], duration: "q" }),
        new VF.StaveNote({clef: "treble", keys: ["f/4"], duration: "q" }),
        new VF.StaveNote({clef: "treble", keys: ["e/4"], duration: "q" }),
        new VF.StaveNote({clef: "treble", keys: ["f/4"], duration: "q" }),
        new Vex.Flow.BarNote(),
        new VF.StaveNote({clef: "treble", keys: ["g/4"], duration: "q" }),
        new VF.StaveNote({clef: "treble", keys: ["g/4"], duration: "q" })
    ];
    var voice = new VF.Voice({num_beats: 4,  beat_value: 4});
    voice.setStrict(false);
    voice.addTickables(notes);
    var formatter = new VF.Formatter().joinVoices([voice]).format([voice], 400);
    voice.draw(context, stave);

</script>

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">SightReader
                <small>Tutorial</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../tutorial.html">Tutorial</a>
                </li>
                <li class="active">Lesson 2: Basic Note Reading</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-8">

            <hr>
            <div id="graphic"></div>
            <hr>

            <p>Mary Had a Little Lamb</p>

            <p>TESTER 1959</p>

            <p>Notes define two things in music: the pitch, which was mentioned before, and the <b>duration</b>.
                A musical note can be held out for varying lengths of time, which can be accounted for in musical
                notation. How to read duration will be covered in a later lesson.
            </p>

            <hr>

            <a class="btn btn-lg btn-primary pull-right" href="#/tutorial2-4">Next</a>
            <a class="btn btn-lg btn-primary pull-right" href="#/tutorial2-2">Previous</a>


        </div>

        <div class="col-lg-4">
            <div class="well">
                <h4>Lesson 2: Basic Note Reading</h4>

                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#/tutorial2-1">1) Reading Notes</a>
                            </li>
                            <li><a href="#/tutorial2-2">2) First Three Notes</a>
                            </li>
                            <li><a href="#/tutorial2-3">3) Song: Mary Had a Little Lamb</a>
                            </li>
                            <li><a href="#/tutorial2-4">4) Above and Below the Staff</a>
                            </li>
                            <li><a href="#/tutorial2-5">5) Middle C and D</a>
                            </li>
                            <li><a href="#/tutorial2-6">6) Completing the C Scale</a>
                            </li>
                            <li><a href="#/tutorial2-7">7) Song: Twinkle, Twinkle Little Star</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /well -->
            <div class="well">
                <h4>Practice</h4>

                <p>Go practice what you just learned anytime by going into the game interface!</p>

                <a class="btn btn-lg btn-primary" href="#/game">Play Now</a>

            </div>
            <!-- /well -->
        </div>
    </div>

</div>
<!-- /.container -->