<script type="text/javascript">

    VF = Vex.Flow;

    var div = document.getElementById("graphic")
    var renderer = new VF.Renderer(div, VF.Renderer.Backends.SVG);

    renderer.resize(680, 240);
    renderer.ctx.setViewBox(0, 0, 325, 120);
    var context = renderer.getContext();
    context.setFont("Arial", 10, "").setBackgroundFillStyle("#eed");

    var stave = new VF.Stave(10, 0, 320);
    stave.addClef("treble");

    stave.setContext(context).draw();

</script>

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">SightReader
                <small>Tutorial</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../tutorial.html">Tutorial</a>
                </li>
                <li class="active">Lesson 1: The Basics</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-8">

            <hr>
            <div id="graphic"></div>
            <hr>

            <p><b><u>The Treble Clef</u></b></p>

            <p>A <b>clef</b>, in music, is a symbol which indicates the pitch of the notes that are written after
                it. In the majority of modern music notation, the two clefs which are used are the treble clef
                (pictured on the staff above) and the bass clef, which will be covered in an advanced lesson.</p>

            <p>Pianists will have musical sheets which will have these two clefs joined together, with the right 
                hand playing the treble clef, and the left hand playing the bass clef. Instruments which generally
                play notes of a higher pitch will only have the treble clef, such as the flute and clarinet. Instruments
                whose music consists of only the bass clef include the trombone, or the cello.
            </p>

            <hr>

            <a class="btn btn-lg btn-primary pull-right" href="#/tutorial1-3">Next</a>
            <a class="btn btn-lg btn-primary pull-right" href="#/tutorial1-1">Previous</a>


        </div>

        <div class="col-lg-4">
            <div class="well">
                <h4>Lesson 1: The Basics</h4>

                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#/tutorial1-1">1) Basic Terminology</a>
                            </li>
                            <li><a href="#/tutorial1-2">2) The Treble Clef</a>
                            </li>
                            <li><a href="#/tutorial1-3">3) Time Signature, Beats, and Measure</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /well -->
            <div class="well">
                <h4>Practice</h4>

                <p>Go practice what you just learned anytime by going into the game interface!</p>

                <a class="btn btn-lg btn-primary" href="#/game">Play Now</a>

            </div>
            <!-- /well -->
        </div>
    </div>

</div>
<!-- /.container -->